*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* fuulstack_____conteiner */

#main_nav{
    display: inline-flex;
    margin-top: 0px;
    background-color: #E7EEFF;
    padding: 12px 28px 708px 28px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  
   
}

main{
    display: flex;
}

#header_nav{
    display:inline-flex;
    margin: 0 auto;
    width: 100%;
    padding: 20px 0px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #E7EEFF;
}



#header_box{
   display: flex;
   
}

#search_box{
    display: flex;
    width: 24px;
    height: 24px;
}

#placeholder{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    border-style: none;
    background: #E7EEFF;
    align-items: center;
}

#avatar_box{
    display: inline;
    color: #5E6577;
    font-size: 16px;
    align-items: center;
    gap: 12px;
}



#house_conteiner{
    display: flex;
    max-width: 1336px;
    width: 100%;
}


#filter_box{
    display: flex;
    justify-content: end;
    height: 50px;
    width: 1300px;
    margin-top: 40px;
    margin-bottom: 50px;
}   


.buttons_style_main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323232;
    font-size: 16px;
    margin-right: 30px;
    border-radius: 16px;
    border: 0;
    background: #E7EEFF;
    padding: 8px 24px 8px 12px;
   align-items: center;
   align-content: space-between;
    gap: 12px;
}


.button_div{
    display: inline-flex;
  
    margin-top: 40px;
    margin-left: 30px;
}


.house_box{
    display: flex;
    margin-left: 80px;
    width: 1200px;
}

.house_cards{
    display: flex;
    gap: 42px;
}

#card_house{
    display: flex;
    width: 1200px;
    margin-left: 80px;
    margin-top: 42px;
    gap: 42px;
}

.card_style{
    border-radius: 24px 24px 24px 24px;
    background: #E7EEFF;
}

.foto_text{
    gap:4px;
    padding: 8px 12px;
}

p{
    color: #606060; 
    font-size: 14px;
}